@page "/"
@inject IJSRuntime JsRuntime;

<h1 style="text-align:center">Yacht Airbnb</h1>

<p style="text-align:center">Welcome to our new Yacht renting website!</p>
<br>


<BlazorStrap.BSCarousel NumberOfItems="3" Fade="true" style="width: 70%; margin:auto;" >
    <BlazorStrap.BSCarouselIndicators ActiveIndexChangedEvent="@indexChanged"/>
    <div class="carousel-inner">

        <BlazorStrap.BSCarouselItem Src="https://images.pexels.com/photos/1482193/pexels-photo-1482193.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" Alt="it is an image">
            <BlazorStrap.BSCarouselCaption CaptionText="Experience the adventure on our ships" HeaderText="Adventure" />
        </BlazorStrap.BSCarouselItem>
        <BlazorStrap.BSCarouselItem Src="https://images.pexels.com/photos/2071518/pexels-photo-2071518.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" Alt="it is an image">
        <BlazorStrap.BSCarouselCaption CaptionText="See the lakes, oceans from totally new perspective" HeaderText="Perspective" />
        </BlazorStrap.BSCarouselItem>
        <BlazorStrap.BSCarouselItem Src="https://images.pexels.com/photos/1143379/pexels-photo-1143379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" Alt="it is an image">
        <BlazorStrap.BSCarouselCaption CaptionText="Explore new places with our ships" HeaderText="Explore" />
        </BlazorStrap.BSCarouselItem>
    </div>
        <BlazorStrap.BSCarouselControl CarouselDirection="BlazorStrap.CarouselDirection.Previous" NumberOfItems="3"/>
        <BlazorStrap.BSCarouselControl CarouselDirection="BlazorStrap.CarouselDirection.Next" NumberOfItems="3"/>
</BlazorStrap.BSCarousel>


@code {
    private void indexChanged(int index)
    {
        Console.WriteLine("Index Changed: " + index);
    }
}