@page "/"
@inject IJSRuntime JsRuntime;

<BlazorStrap.BSCarousel NumberOfItems="3" Fade="true">
    <BlazorStrap.BSCarouselIndicators />
    <div class="carousel-inner">
        <BlazorStrap.BSCarouselCaption CaptionText="Welcome to our new Yacht renting website!" HeaderText="Yacht Airbnb" style="padding-bottom: 50%" />
        <BlazorStrap.BSCarouselItem Src="https://images.pexels.com/photos/1482193/pexels-photo-1482193.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" Alt="it is an image">
            <BlazorStrap.BSCarouselCaption CaptionText="Experience the adventure on our ships" HeaderText="Adventure" />
        </BlazorStrap.BSCarouselItem>
        <BlazorStrap.BSCarouselItem Src="https://images.pexels.com/photos/2071518/pexels-photo-2071518.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" Alt="it is an image">
            <BlazorStrap.BSCarouselCaption CaptionText="See the lakes, oceans from totally new perspective" HeaderText="Perspective" />
        </BlazorStrap.BSCarouselItem>
        <BlazorStrap.BSCarouselItem Src="https://images.pexels.com/photos/754355/pexels-photo-754355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" Alt="it is an image">
            <BlazorStrap.BSCarouselCaption CaptionText="Explore new places with our ships" HeaderText="Explore" />
        </BlazorStrap.BSCarouselItem>
    </div>
    <BlazorStrap.BSCarouselControl CarouselDirection="BlazorStrap.CarouselDirection.Previous" NumberOfItems="3" />
    <BlazorStrap.BSCarouselControl CarouselDirection="BlazorStrap.CarouselDirection.Next" NumberOfItems="3" />
</BlazorStrap.BSCarousel>
