@page "/ships"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using WebProject.Shared
@attribute [Authorize]

<h3>Ship Search</h3>
<br>

<SearchLine QueryReady="HandleQueryReadyCallback"/>
<ShipList Ships="ships" />
<br>

@code {
    List<ShipDTO> ships = new List<ShipDTO>();
    void HandleQueryReadyCallback(List<ShipDTO> shipDTOs)
    {
        ships = shipDTOs;
    }
}
