table {
    border-top-color: white;
}

.first-table {
    width: 67%;
    position: relative;
    margin-left: 33%;
    line-height: 2.2;
}

.main-img {
    width: 23%;
    position: absolute;
    border-radius: 2%;
}

.own-table {
    width: 50%;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.title {
    padding-left: 33%;
}
