<!--
    https://bbbootstrap.com/snippets/bootstrap-comment-section-form-ratings-98792632
-->
@inject IJSRuntime JSRuntime

<EditForm Model="@_rating">
    <div class="card">
        <div class="row">
            <div class="col-10">
                <div class="comment-box ml-2">
                    <h4>Add a comment</h4>
                    <div class="rating">
                        <InputRadioGroup @bind-Value="_rating">
                            @for (int i = 1; i < 6; i++)
                            {
                                <div id="i">
                                    <InputRadio Value="i">☆</InputRadio>
                                </div>
                            }
                        </InputRadioGroup>

                    </div>
                    <div class="comment-area">
                        <textarea class="form-control" placeholder="what is your view?" rows="4">
                        </textarea>
                    </div>
                    <div class="comment-btns mt-2">
                        <div class="row">
                            <div class="col-6">
                                <div class="pull-left">
                                    <button type="reset" class="btn btn-success btn-sm"
                                            @onclick="(() => HandleSubmit())">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success send btn-sm"
                                            @onclick="(() => HandleSubmit())">
                                        Send
                                        <i class="fa fa-long-arrow-right ml-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>
@code {
    private int _rating;
    public int Rating => _rating % 6;
    public string Comment { get; set; }

    async void HandleSubmit()
    {
        await JSRuntime.InvokeVoidAsync("console.log");
    }
    async void HandleReset()
    {
        await JSRuntime.InvokeVoidAsync("console.log");

        _rating = 0;
        Comment = default;
    }
}

<style>
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        padding: 20px;
        width: 450px;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border-radius: 6px;
        -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1)
    }

    .comment-box {
        padding: 5px
    }

    .comment-area textarea {
        resize: none;
        border: 1px solid #ad9f9f
    }

    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #ffffff;
        outline: 0;
        box-shadow: 0 0 0 1px rgb(255, 0, 0) !important
    }

    .send {
        color: #fff;
        background-color: #ff0000;
        border-color: #ff0000
    }

        .send:hover {
            color: #fff;
            background-color: #f50202;
            border-color: #f50202
        }

    .rating {
        display: flex;
        margin-top: -10px;
        flex-direction: row-reverse;
        margin-left: -4px;
        float: left
    }

        .rating > input {
            display: none
        }

        .rating > label {
            position: relative;
            width: 19px;
            font-size: 25px;
            color: #ff0000;
            cursor: pointer
        }

            .rating > label::before {
                content: "\2605";
                position: absolute;
                opacity: 0
            }

            .rating > label:hover:before,
            .rating > label:hover ~ label:before {
                opacity: 1 !important
            }

        .rating > input:checked ~ label:before {
            opacity: 1
        }

        .rating:hover > input:checked ~ label:before {
            opacity: 0.4
        }
</style>