@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <a style="color:dimgrey" href="authentication/profile">Hello, @context.User.Identity.Name!</a>
        <button style="margin-left:10px" class="btn btn-dark" @onclick="BeginSignOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a class ="btn btn-dark" href="authentication/register">Register</a>
        <a class ="btn btn-outline-dark" href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
