@using BlazorStrap


<BSButton IsDisabled="Disabled" Color="Color.Info"
          @onclick="() => {
                        if (!Disabled)
                        {
                            onToggle();
                        }
                    }">
    <span class="@PictoDesign"
          aria-hidden="true">
    </span>
    @ButtonText
</BSButton>

<BSModal @ref="VerticallyCentered" IsCentered="true">
    <BSModalHeader OnClick="@onToggle">Alert</BSModalHeader>
    <BSModalBody>
        <p>
            @QuestionText #@ItemId
        </p>
    </BSModalBody>
    <BSModalFooter>
        <BSButton Color="Color.Secondary" @onclick="@onToggle">No</BSButton>
        <BSButton Color="Color.Primary" @onclick="() => {
                                                        if (!Disabled)
                                                        {
                                                            ActionOnOk();
                                                            onToggle();
                                                        }
                                                      }">
            Yes
        </BSButton>
    </BSModalFooter>
</BSModal>

@code{
    [Parameter]
    public Action ActionOnOk { get; set; }

    [Parameter]
    public int ItemId { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public string ButtonText { get; set; } = "Cancel";

    [Parameter]
    public string PictoDesign { get; set; } = "oi oi-trash";
    [Parameter]
    public string QuestionText { get; set; } = "Question";


    BSModal VerticallyCentered;

    void onToggle()
    {
        VerticallyCentered.Toggle();
    }
}
