
.container {
    background: #d6d8d9;
    margin: 0 auto;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 0 20px 8px #a9aaaa;
    width: 80%;
    align-content: center
}

.search-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
    flex-grow: 1;
    text-align: center;
    margin: 0px;
}

.search-btn:active {
    margin-top: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    width: 150px;
    background-color: #28b2b9;
    color: white;
    border-radius: 4px;
}

.search-btn {
    margin-top: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    background-color: #28b2b9;
    border-color: #28b2b9;
    color: white;
    border-radius: 4px;
    width: 150px;
}

input{
    margin: 0px 0px 10px 0px;
}

/*Custom style to set icon size */
.alert i[class^="bi-"] {
    font-size: 1.5em;
    line-height: 1;
}

