<!-- page "/search"-->
@using Microsoft.AspNetCore.WebUtilities
@using WebProject.Shared
@inject IJSRuntime JSRuntime
@inject IShipSearchService SearchService
@inject NavigationManager Navigation


<div class="container">
    <div class="wrapper">
        <div class="search-container">
            <EditForm Model="@model" OnSubmit="@Search">
                <InputDate @bind-Value="from" class="date-from" placeholder="from"></InputDate>
                <InputDate @bind-Value="until" class="date-to" placeholder="until"></InputDate>
                <InputNumber @bind-Value="maxPersons" class="persons" placeholder="#persons"></InputNumber>
                <InputText @bind-Value="port" class="search" placeholder="port"></InputText>
                <button type="submit" class="btn btn-primary">Search!</button>
            </EditForm>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public ApplicationUserDTO PersonLoggedOn { get; set; }

    [Parameter]
    public EventCallback<List<ShipDTO>> QueryReady { get; set; }

    private DateTime? from { get; set; } = default;
    private DateTime? until { get; set; } = default;
    private int? maxPersons { get; set; } = default;
    private string port { get; set; } = default;

    private object model = new object();

    public List<ShipDTO> QueryResult { get; set; } = new();

    async void Search()
    {
        QueryResult = await SearchService.SearchShips(from, until, maxPersons, port);
        //callback to parent page
        await QueryReady.InvokeAsync(QueryResult);
    }
}