.own-card-style {
    box-shadow: 0 0 20px 8px #d0d0d0;
    max-width: 1200px;
    margin:auto;
}

.ship-img {
    position: absolute;
    max-height: 130px;
    margin-top: 53px;
    margin-left: 10px;
}

.card-table {
    position: relative;
    margin-left: 25%;
    line-height: 2.5;
    table-layout: fixed;
    width: 800px;
}

@media (max-width: 640px) {
    .ship-img {
        position: initial;
        max-height: 200px;
        margin-top: 0px;
        margin-left: 0px;
    }

    .card-table {
        margin-left: 5%;
    }
}

