

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
</head>

@if (ShowAlert)
{
    <!-- Warning Alert -->
    <div class="alert alert-warning alert-dismissible d-flex align-items-center fade show">
        <i class="bi-exclamation-triangle-fill"></i>
        <strong class="mx-2">Warning!</strong> @AlertMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" @onclick="() => {
                                                                                      ShowAlert = false;
                                                                                  }" />
    </div>
}

@code{
    //true if show, false if not
    [Parameter]
    public bool ShowAlert { get; set; } = false;

    //message to write out
    [Parameter]
    public string AlertMessage { get; set; } = "Alert";
}